.secondary-filters {
  .dropdown-menu {
    .items-list {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .item button {
      background: none;
      border: none;
      border-radius: 0;
      color: #fff;
      padding: 0 0 3px;
      position: relative;
      overflow: hidden;
      display: block;
      text-align: left;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform .2s ease-in-out;
      }

      &:hover {
        &::before {
          transform: translateX(0);
        }
      }
    }
  }
}